.centered-card.login.branding.branding--login
  .form{ rel: "login" }
    = image_tag "landing/logo.png", alt: "Aristotle", class: "branding__logo branding__logo--login"
    = form_tag session_path, method: "post" do
      .form-ctrl
        %label.form__label{ for: "email" } Email
        = text_field_tag "user[email]", nil, class: "form__input form__input--login"
      .form-ctrl
        %label.form__label{ for: "password" } Password
        = password_field_tag "user[password]", nil, class: "form__input form__input--login"
      .form-ctrl
        = button_tag "Login", class: "btn btn-lg btn-clear branding-controls__control branding-controls__control--login"
        = link_to "Forgot Password?", new_password_reset_path, class: "btn btn-lg btn-clear branding-controls__control branding-controls__control--login"
