.content-panel.col-md-4
  = form_for current_user do |f|
    .form-group
      = f.label :password, class: "form__label"
      = f.password_field :password, class:  "form__input"
    .form-group
      = f.label :password_confirmation, class: "form__label"
      = f.password_field :password_confirmation, class: "form__input"
    .form-group
      %label.form__label
      = f.submit 'Change Password', class: "btn btn-md btn-clear branding-controls__control"
