= link_to "Change Password", change_password_user_path
.module{ rel: 'edit' }
  = form_for @user do |f|
    .form-group
      = f.label :email, 'Email'
      = f.text_field :email, placeholder: 'new@youremail.com'
    .form-group
      = f.label :first_name, 'First Name'
      = f.text_field :first_name, placeholder: 'John'
    .form-group
      = f.label :last_name, 'Last Name'
      = f.text_field :last_name, placeholder: 'Doe'
    .form-group
      = f.label :timezone, 'Region'
      = f.select :timezone, ActiveSupport::TimeZone::MAPPING, class: 'timezones'
    .form-group
      = f.submit 'Save'
