.module{ rel: 'edit' }
  = form_for @user do |f|
    .form-group
      = f.label :email, 'Email'
      = f.text_field :email, placeholder: 'new@youremail.com'
    .form-group
      = f.label :timezone, 'Region'
      = f.select :timezone, ActiveSupport::TimeZone::MAPPING, class: 'timezones'
    .form-group
      = f.submit 'Save'
