.content-panel.content-panel--first.col-md-4{ rel: "pursuits" }
  .pursuits-context{ rel: "pursuits-context" }
    = context_link "today"
    |
    = context_link "overall"
  %hr
  %table.table.pursuits-table
    %thead.table__head
      %tr
        %th Name
        %th Time #{@range.downcase}
        %th
    %tbody
      - @pursuits.each do |pursuit|
        %tr.pursuit{ :'data-pursuit-id' => pursuit.id, :'data-pursuit-name' => pursuit.name }
          %td= link_to pursuit.name, user_pursuit_path(pursuit.id)
          %td.time-and-count #{convert_total_seconds_of(pursuit.ranged_pomodori(@range)[:time])}
          %td.actions
            = link_to new_user_pursuit_pomodoro_path(pursuit.id), class: "btn btn-xs btn-clear branding-controls__control branding-controls__control--large" do
              %i.fa.fa-play
            = link_to edit_user_pursuit_path(pursuit.id), id: "edit-pursuit", class: "btn btn-xs btn-clear branding-controls__control branding-controls__control--large" do
              %i.fa.fa-pencil-square-o
            = link_to user_pursuit_path(pursuit.id), class: "btn btn-xs btn-clear branding-controls__control branding-controls__control--large", method: :delete, data: { confirm: 'Are you sure you want to delete this pursuit?' } do
              %i.fa.fa-trash
    - if @range == "today"
      %tfoot.summary
        %td
        %td.summary__time{ rel: "pomodori-time" }= convert_total_seconds_of(current_user.todays_productivity[:time])
        %td
  = link_to "Add", new_user_pursuit_path, class: "btn btn-lg btn-clear branding-controls__control branding-controls__control--large"
