.content-panel.content-panel--last{ rel: "pursuits" }
  .pursuits-context{ rel: "pursuits-context" }
    = context_link "today"
    |
    = context_link "overall"
  %hr
  %table.table.pursuits-table
    %thead.table__head
      %tr 
        %th Name
        %th #{@range.capitalize} Pomodori / Time
        %th
    %tbody
      - @pursuits.each do |pursuit|
        %tr.pursuit{ :'data-pursuit-id' => pursuit.id, :'data-pursuit-name' => pursuit.name }
          %td= link_to pursuit.name, user_pursuit_path(pursuit.id)
          %td.time-and-count #{pursuit.ranged_pomodori(@range)[:count]} / #{convert_total_seconds_of(pursuit.ranged_pomodori(@range)[:time])}
          %td.actions
            = link_to "Start", new_user_pursuit_pomodoro_path(pursuit.id), class: "btn btn-xs btn-clear branding-controls__control branding-controls__control--small"

    - if @range == "today"
      %tfoot.summary
        %td
        %td.summary__time{ rel: "pomodori-time" }= convert_total_seconds_of(current_user.todays_productivity[:time])
        %td
  = link_to 'New Pursuit', new_user_pursuit_path, class: "btn btn-lg btn-clear branding-controls__control branding-controls__control--large"
.content-panel.content-panel--last
  .inspirational-quote
    %blockquote.inspirational-quote__body= @inspirational_quote["body"]
    %span.inspirational-quote__author -#{@inspirational_quote["author"]}
