= link_to 'New Pursuit', new_user_pursuit_path
%table.table
  %thead
    %tr 
      %th Name
      %th Default Pomodoro Length
      %th Cumulative Time
      %th Pomodori #
      %th Actions
  %tbody
    - @pursuits.each do |pursuit|
      %tr.pursuit{ :'data-pursuit-id' => pursuit.id, :'data-pursuit-name' => pursuit.name }
        %td= link_to pursuit.name, user_pursuit_path(pursuit.id)
        %td.default-pomodoro-length= convert_total_seconds_of(pursuit.default_pomodoro_length)
        %td.cumulative-time= convert_total_seconds_of(Pursuit.cumulative_time(pursuit.pomodori))
        %td.pomodoro-count= pursuit.pomodori_count
        %td.actions
          = link_to('Edit', edit_user_pursuit_path(pursuit.id), { class: 'edit' })
