.module
  %h2{ rel: "pursuit-show" }= @pursuit.name
  = link_to 'Edit', edit_user_pursuit_path(@pursuit.id)
  .info
    %p.pomodori-count Pomodori Count: #{@pursuit.todays_pomodori.count}
    #cumulative-time
      = convert_total_seconds_of(Pursuit.cumulative_time(@pursuit.todays_pomodori))
    = link_to 'Start Pomodoro', new_user_pursuit_pomodoro_path(@pursuit.id)
