!!!
%html{ :'ng-app' => 'AristotleApp', :'ng-controller' => 'TitleCtrl' }
  %head
    %title
      {{ time }}
    = javascript_include_tag 'users/application'
    = stylesheet_link_tag 'shared', media: 'all'
    = csrf_meta_tags
  %body.container-fluid
    - flash.each do |name, msg|
      = content_tag :div, msg, rel: "#{name}-flash" 
    %nav.module-side-nav.col-sm-2
      - if user_signed_in?
        %ul
          %li
            = link_to 'My Pursuits', "/user/pursuits?range=today"
          %li
            = link_to 'Edit Account', edit_user_path
          %li
            = link_to 'Logout', session_path, method: :delete
    %section.module-main-content.col-sm-10
      = yield
